.signup-div{
    width: 450px;
    display: flex;
    flex-direction: column;
    margin:auto;
    padding: 4rem 3rem;
    background-color: aliceblue;
    text-align: center;
}

form p {
    color: red;
    margin-left: 5px;
    margin-top: 10px;
}